html {
	scroll-behavior: smooth;
}

body {
	background-color: white;
}

a {
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	text-decoration: none;
	opacity: 0.5;
	color: inherit;
}

@font-face {
	font-family: MaisonNeue-Demi;
	src: url(static/fonts/MaisonNeueTRIAL-Demi.otf);
}

@font-face {
	font-family: MaisonNeue-Light;
	src: url(static/fonts/MaisonNeueTRIAL-Light.otf);
}

@font-face {
	font-family: MaisonNeue-Book;
	src: url(static/fonts/MaisonNeueTRIAL-Book.otf);
}

.header_container {
	height: 100vh;
	background-image: url('static/header_image.png');
	background-size: cover;
	background-position: center;
	border-radius: 0;
	padding: 0;
	margin: 0;
}

.header_text {
	color: white;
	font-family: MaisonNeue-Book;
	font-size: 37px;
	text-align: center;
}

.main_header_text_container {
	margin-top: 20vh;
}

.discover_button_container a {
	width: 20%;
	text-align: center;
}

.discover_button_text {
	font-family: MaisonNeue-Book;
	font-size: 14px;
}

.top_bar {
	height: 10vh;
	margin:0;
	margin-top:5vh;
	padding: 0;
}

.logo {
	font-family: MaisonNeue-Book;
	font-size: 34px;
}

.create_poster_button {
	font-family: MaisonNeue-Book;
	font-size: 16px;
	border-radius: 25px;
	color: #13e1b5;
	border-color: #13e1b5;
	padding: 6px 20px;
}

.image_roll{
	height: 48vh;
}

.image_roll img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main_textbox_wrapper {
	width: 65%;
	margin:auto;
}

.textbox1_container {
	height: 100vh;
	padding: 0;
}

.textbox1_container img {
	height: 90%;
	width: 85%;
	margin-left:0;
	object-fit: cover;
}

.textbox1_text_container {
	height: 90%;
	width: 100%;
}

.textbox_title {
	font-family: MaisonNeue-Book;
	font-size: 43px;
	line-height: 47px;
}

.textbox_text {
	font-family: MaisonNeue-Book;
	font-size: 23px;
	color: #787b7d;
}

.textbox_button {
	font-family: MaisonNeue-Book;
	color: white;
	font-size: 18px;
	background-color: #13e1b5;
	border: none;
	padding: 12px;
}

.textbox2_container {
	padding: 0;
}

.textbox2_container img {
	height: 30vh;
	width: 96%;
	object-fit: cover;
}

.textbox2_container .textbox_title {
	font-size: 26px;
}

.textbox2_text_container {
	width:90%;
}

.textbox2_container .textbox_text {
	font-size: 18px;
}

.rating_text {
	font-size: 37px;
}

.textbox3_container {
	background-color: #353539;
	height: 50vh;
	padding: 0;
}

.textbox3_container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.textbox3_container .textbox_title {
	color: #a0a2a3;
	font-size: 20px;
}

.textbox3_container .textbox_text {
	color: #a0a2a3;
	font-size: 18px;
}

.newsletter_container {
	height: 10vh;
	background-color: #29d5b3;
	border-radius: 10px;
}

.newsletter_container .textbox_text {
/*	color: white;
	font-size: 15px;
	line-height: 19px;
	margin: 0;
	padding: 0;*/
	font-size: 16px;
	max-width: 216px;
	line-height: 22px;
	margin-bottom: 0;
	color: #fff;
	margin-right: 5px;
}

.newsletter_container button {
	background-color: black;
	font-weight: bold;
	line-height: 24px;
	font-size: 16px;
	padding: 6px 30px;
}

.newsletter_container ::placeholder {
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 24px;
	color: #b4bbc2;
	font-family: MaisonNeue-Book;
	font-weight: bold;
}

.insta_image_container {
	height: 40vh;
	padding: 5px;
	transition: 0.5s;
}

.insta_image_container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.insta_image_container:hover {
	opacity: 0.8;
}

.rating_container {
	padding: 10px;
}

.rating_container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 8.5px 14.722px 109px rgba(228,228,229,0.84);
}

.footer_container {
	height: 110vh;
	background-image: url('static/footer_pic.png');
	background-size: cover;
	background-position: bottom;
}

.footer_content {
	height: 35vh;
}

.footer_text {
	font-size: 20px;
	line-height: 30px;
	color: white;
	font-family: MaisonNeue-Book;
}

.footer_logo {
	color: white;
	font-size: 57px;
	line-height: 49px;
	font-family: MaisonNeue-Book;
	margin-top:0;
	margin-bottom: 0;
}

.footer_logo2 {
	font-size: 18px;
}

.footer_green_overlay {
	height:80vh;
	background-image: linear-gradient(0deg, #23a997 0%, rgba(253,101,157,0) 100%);
}





/*FAQ page styling*/
.faq_header_container {
	height: 65vh;
	background-image: url('static/faq_header_image.png');
}

.insta_link {
	margin: 0 30px 0 130px;
}

.faq_header_text_container {
	margin: 15vh auto;
	width: 73%;
}

.faq_header_text {
	color: white;
	font-family: MaisonNeue-Book;
	font-size: 37px;
}

.faq_header_text_big {
	font-size: 86px;
}

.faq_header_text_medium {
	font-size: 36px;
}

.faq_header_text_small {
	font-size: 24px;
}

.faq_content_container {
	width: 65%;
}

.faq_question {
	font-family: MaisonNeue-Book;
	font-size: 36px;
	color: black;
	line-height: 39px;
	font-weight: 300;
}

.faq_answer {
	font-family: MaisonNeue-Book;
	font-size: 25px;
	line-height: 26px;
	color: #807e7e;
}

.faq_nav {
	font-size: 25px;
	line-height: 50px;
	color: #b2b2b2;
	font-family: MaisonNeue-Book;
	font-weight: 300;
	transition: 0.3s;
}

.faq_nav:hover {
	cursor: pointer;
	opacity: 0.7;
}